.user-location {
    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: .25em;

        cursor: pointer;

        border-radius: 5px;

        transition: 
          outline 150ms ease-in-out,
          transform 150ms ease-in-out
          ;

        .icon {
            inline-size: 2rem;
        }

        &:is(:hover, :focus-visible) {
          outline: 2px solid hsl(0, 50%, 0%);
          transform: scaleX(1.0125);
        }
    }
}
