@use "sass:map";

@mixin flex-container(
    $direction: column,
    $align: center,
    $justify: center,
    $gap: 0
) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;

    @if $gap != 0 {
        gap: $gap;
    }
}

$prop-phisycal-to-logical: (
    "width": "inline-size",
    "max-width": "max-inline-size",
    "min-width": "min-inline-size",
    "height": "block-size",
    "max-height": "max-block-size",
    "min-height": "min-block-size",
    "border-top": "border-block-start",
    "border-bottom": "border-block-end",
    "border-left": "border-inline-start",
    "border-right": "border-inline-end",
    "margin-top": "margin-block-start",
    "margin-bottom": "margin-block-end",
    "margin-left": "margin-inline-start",
    "margin-right": "margin-inline-end",
    "padding-top": "padding-block-start",
    "padding-bottom": "padding-block-end",
    "padding-left": "padding-inline-start",
    "padding-right": "padding-inline-end",
    "top": "inset-block-start",
    "bottom": "inset-block-end",
    "left": "inset-inline-start",
    "right": "inset-inline-end",
    "border-top-left-radius": "border-start-start-radius",
    "border-top-right-radius": "border-start-end-radius",
    "border-bottom-left-radius": "border-end-start-radius",
    "border-bottom-right-radius": "border-end-end-radius",
    "overflow-x": "overflow-inline",
    "overflow-y": "overflow-block",
);

$value-physical-to-logical: (
    "float": (
        "left": "inline-start",
        "right": "inline-end",
    ),
    "clear": (
        "left": "inline-start",
        "right": "inline-end",
    ),
    "resize": (
        "vertical": "block",
        "horizontal": "inline",
    ),
    "text-align": (
        "left": "start",
        "right": "end",
    ),
);

$unit-physical-to-logical: ();

@mixin logicalSupport($property, $value, $criteria, $unit: null) {
    @if $criteria == "property" {
        #{$property}: #{$value};

        $logical: map.get($prop-phisycal-to-logical, $property);

        @if $logical != null {
            @supports (#{$logical}: #{$value}) {
                #{$logical}: #{$value};
                @debug $logical;
            }
        }
    } @else if $criteria == "value" {
        #{$property}: #{$value};

        $logical: map-get(
            $map: $value-physical-to-logical,
            $key: map-get($prop-phisycal-to-logical, $property),
        );

        @if $logical != null {
            @supports (#{$property}: #{$logical}) {
                #{$property}: #{$logical};
                @debug $logical;
            }
        }
    }
}
