// Generated in transfonter.org
// Font downloaded in google fonts

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans SemiBold'), local('NotoSans-SemiBold'),
      url('./assets/fonts/NotoSans-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
      url('./assets/fonts/NotoSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans SemiBold Italic'), local('NotoSans-SemiBoldItalic'),
      url('./assets/fonts/NotoSans-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Thin Italic'), local('NotoSans-ThinItalic'),
      url('./assets/fonts/NotoSans-ThinItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Thin'), local('NotoSans-Thin'),
      url('./assets/fonts/NotoSans-Thin.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Black'), local('NotoSans-Black'),
      url('./assets/fonts/NotoSans-Black.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Black Italic'), local('NotoSans-BlackItalic'),
      url('./assets/fonts/NotoSans-BlackItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
      url('./assets/fonts/NotoSans-Bold.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
      url('./assets/fonts/NotoSans-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraBold'), local('NotoSans-ExtraBold'),
      url('./assets/fonts/NotoSans-ExtraBold.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraBold Italic'), local('NotoSans-ExtraBoldItalic'),
      url('./assets/fonts/NotoSans-ExtraBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraLight'), local('NotoSans-ExtraLight'),
      url('./assets/fonts/NotoSans-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraLight Italic'), local('NotoSans-ExtraLightItalic'),
      url('./assets/fonts/NotoSans-ExtraLightItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
      url('./assets/fonts/NotoSans-Italic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Light'), local('NotoSans-Light'),
      url('./assets/fonts/NotoSans-Light.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Light Italic'), local('NotoSans-LightItalic'),
      url('./assets/fonts/NotoSans-LightItalic.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}