@use '../../utils/mixins' as mixin;

.language-select {

  button {
    display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 5px;
  padding: .25em;

  &:is(:focus-visible, :hover) {
    outline: 1px solid black;
  }  
  
  .icon {
    @include mixin.logicalSupport('width', 2rem, "property");
  }

  .lang {
    font-size: 1.125rem;
    line-height: 1;
  }
}

}