@use '../../../../utils/mixins' as mixin;

.user-location {
    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: .25em;

        cursor: pointer;

        border-radius: 5px;

        transition: 
          outline 150ms ease-in-out,
          transform 150ms ease-in-out
          ;

        .icon {
          --content-height: 1.125rem;
            @include mixin.logicalSupport('width', var(--content-height), 'property');
        }

        &:is(:hover, :focus-visible) {
          outline: 2px solid hsl(0, 50%, 0%);
          transform: scaleX(1.0125);
        }
    }

    .location {
      --content-height: .75rem;
      font-size: var(--content-height);
    }
}
